<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar *ngIf="userdata != null" class="textura"> 
      <img [src]="userdata.image" class="logoMonitora">
      <div class="user-content">
        <p style="font-weight: bold;">Nome teste</p>
        <p>teste@teste.com</p>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button class="botaoMenu" menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}"></ion-icon>
          <span>{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>