// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md {
    background: #ff6600;
}

.textura div {
    background: url(../assets/imgs/textura.png);
}

.toolbar-title-md {
    color: #f5f5f5;
}

.bar-button-default-md {
    color: #f5f5f5;
}

.user-content{
    position: relative;
    float: left;
    width: 100%;
    background: none !important;
    margin-left: 10px;
    color: #f5f5f5;
}

.logoMonitora {
    width: 85px;
    margin-left: 5px;
}

.botaoMenu {
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    background: none;
    margin-top: 30px
}

.botaoMenu ion-icon {
    font-size: 20pt;
    margin-left: 10px;
    margin-right: 30px;
    color: #ccc;
}

.botaoMenu span {
    font-weight: 400;
}

.menu-inner {
    width: 290px;
}


.botaoPadrao {
    position: relative;
    float: left;
    background: #ff6600;
    padding: 15px 30px;
    border-radius: 20px;
    color: #f5f5f5;
    font-size: 13pt;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
