page-login {
    .content-logoStart{
        position: relative; 
        float: left; 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        background: linear-gradient(-128deg ,rgba(255,108,0,0.7), rgba(0,0,0,0.7));
    }

    .botaoLogin {
        padding: 15px;
        font-size: 13pt;
        border-radius: 20px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 45px;
        background: #D42323;
        color: #fff;
    }

    .content-md {
        color: #fff;
        background: url(../assets/imgs/bus.jpg);
        background-size: cover;
        background-position: center;
    }

    .scroll-content {
        padding: 0  ;
    }

    .content-textStart {
        padding: 10px;
        text-align: center;
    }

    img {
        max-width: 100%;
        border: 0;
        margin-top: 30px;
    }

    .termos {
        margin-top: 170px;
    }
}
