page-home {

    .content-textStart {
        position: relative;
        float: left;
        width: 100%;
        padding: 0px 20px 10px 20px;
    }

    #map {
        width:100%;
        height: 100%; 
    }

    .paradaAtualtext {
        font-size: 14pt;
        padding: 15px 0px 20px 0px;
    }

    .proximaLinha {
        font-size: 50pt;
    }

    .linhasDistantes {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 40px;
        padding: 10px;
        border-top: 1px solid #ccc;
        text-align: center;
    }

    .linhasDistantes div{
        position: relative;
        float: left;
        width: 25%;
        border-right: 1px solid #ccc;
        border-collapse: collapse;
        color: #333;
        font-size: 12pt;
        padding: 4px;
        font-weight: bold;
    }

    .linhasDistantes div span {
        position: relative;
        float: left;
        width: 100%;
        font-size: 9pt;
        font-weight: normal;
    }

    .mapinhaEnganador {
        position: relative;
        float: left;
        width: 100%;
        height: 61.5%;
        margin-top: 16px;
    }
}
