page-home {

    .content-logoStart{
        position: relative; 
        float: left; 
        width: 100%; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
}
